* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Palette:
  • black,*/
  --coffee-bean: #0f0817;
  --cb08: #0f0817cc;
  --midnight-violet: #2b193d;
  --mv06: #2b193d9a;
  --blue-slate: #586f7c;
  --light-blue: rgb(184, 219, 217);
  --bronze-spice: #c45c16;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--bronze-spice);
}
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
header.menu {
  position: relative;
  top: 0;
  height: 4rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: linear-gradient(to top, transparent 0, black 75%);
  @media (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    position: relative;
  }
  h1 {
    padding: 1rem;
    font-family: 'Elephant', serif;
    @media (max-width: 1024px) {
      font-size: 1.6rem;
      padding: 0;
    }
  }
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    @media (max-width: 1024px) {
      width: 60%;
    }
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: var(--light-blue);
      text-align: center;
      &:hover {
        color: var(--bronze-spice);
      }
      &.logged-in-only {
        cursor: not-allowed;
        color: var(--blue-slate);
      }
      &#login-trigger,
      &#logout-trigger {
        font-weight: bold;
      }
    }
  }
}

main {
  padding: 2rem;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    background: linear-gradient(135deg, var(--cb08), var(--mv06));
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 65%;
    color: var(--bronze-spice);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
    &:hover {
      @media (min-width: 1025px) {
        transform: translateY(-5px);
      }
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
    .cardtext {
      margin-top: 0.7rem;
      color: var(--light-blue);
    }
    ul {
      color: var(--light-blue);
      margin-left: 1rem;
      li a img {
        width: 1rem;
        height: 1rem;
        filter: invert(1);
      }
    }
  }
}

main#contactmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1024px) {
    grid-template-columns: auto;
  }
  padding: 2rem;
  .card {
    width: 90%;
    margin: 2rem auto auto;
    @media (min-width: 1025px) {
      &:nth-child(even) {
        background: linear-gradient(225deg, var(--cb08), var(--mv06));
      }
    }
    form {
      color: var(--light-blue);
      textarea {
        background-color: var(--light-blue);
      }
      input,
      textarea {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--coffee-bean);
        &[type='text'],
        &[type='url'] {
          height: 2rem;
          background-color: var(--light-blue);
          padding: 0.5rem;
        }
        border: none;
        border-radius: 3px;
        &:focus:not([type='file']) {
          outline: 3px solid rgb(113, 185, 180);
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        &#poster {
          color: var(--light-blue);
          &::file-selector-button {
            background-color: var(--bronze-spice);
            color: var(--coffee-bean);
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            margin: 0.5rem 0.5rem 0.5rem 0;
            &:hover {
              background-color: var(--blue-slate);
              color: var(--light-blue);
            }
          }
        }
        &[type='submit'] {
          background-color: var(--bronze-spice);
          color: var(--coffee-bean);
          border: none;
          padding: 0.5rem 1.5rem;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          margin-top: 1rem;
          &:hover {
            background-color: var(--blue-slate);
            color: var(--midnight-violet);
          }
        }
      }
      label {
        display: inline;
      }
    }
  }
}

a#secret {
  text-decoration: none;
  color: var(--bronze-spice);
  &:hover {
    color: fuchsia;
  }
}

#randomiser-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease;
}

#randomiser-card {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 3vh;
  @media (min-width: 1024px) {
    width: 55%;
  }
}

.genre-select-label {
  font-family: 'Elephant', serif;
  text-align: center;
  font-size: 3em;
  user-select: none;
}

.genre-select,
.genre-button {
  text-align: center;
  color: var(--bronze-spice);
  height: 10vh;
  font-size: 1.5em;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(40, 166, 197);
  cursor: pointer;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.5s ease;
  @media (min-width: 1024px) {
    width: 80%;
  }
}

.genre-select {
  padding: 0 1.3em;
}

.genre-select:hover,
.genre-button:hover {
  transform: scale(1.1);
}

.film-main {
  display: flex;
  gap: 1em;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .film-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
    @media (max-width: 768px) {
      font-size: 1em;
    }
  }
  margin-bottom: 1.5em;
}

.film-main img {
  border-radius: 5px;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.trailer {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 1rem 0;
}

.trailer iframe {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

main#film-data-section {
  height: auto;
  display: none;
  opacity: 0;
  transition: opacity 1.5s ease;
}

main #film-data-card {
  width: 80%;
  position: relative;
  span#add-to-saved {
    position: absolute;
    right: -10%;
    width: 15%;
    cursor: pointer;
    @media (max-width: 768px) {
      right: -2%;
      top: 0.2%;
    }
    img {
      height: 25%;
      width: 25%;
      position: relative;
      @media (max-width: 768px) {
        height: 80%;
        width: 80%;
      }
    }
  }
}

@media (min-width: 769px) {
  main #film-data-card span#add-to-saved::before {
    position: absolute;
    content: 'Add or remove from saved';
    font-size: 1.05em;
    opacity: 0;
    left: -120%;
    top: 20%;
    transition: opacity 0.5s ease;
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 0.1em;
  }
  main #film-data-card span#add-to-saved:hover::before {
    opacity: 1;
  }
}

#film-title {
  text-align: center;
  margin-bottom: 0.8em;
  font-family: 'Elephant', serif;
  font-size: 2.5em;
  @media (max-width: 768px) {
    font-size: 2em;
  }
}

p#description-title {
  font-size: 1.5em;
  margin-bottom: 0.6em;
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

p#description {
  font-size: 1.3em;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.ratings {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  margin-bottom: 1.5em;
}

.ratings fieldset {
  width: 25%;
  height: 15vh;
  @media (max-width: 768px) {
    height: 12vh;
  }
  border-radius: 10px;
  legend {
    margin-left: 5px;
    padding: 5px;
    font-size: 1.1em;
    @media (max-width: 768px) {
      font-size: 0.7em;
    }
  }
}

.rating-container {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  span {
    max-width: 60%;
  }
  p {
    font-size: 2em;
    @media (max-width: 768px) {
      font-size: 1.3em;
    }
  }
}

#imdb-icon img {
  max-height: 90%;
  max-width: 60%;
  margin-top: -10px;
  @media (max-width: 768px) {
    max-height: 170%;
    max-width: 170%;
    margin-left: -30%;
  }
}

#rotten-tomatoes-icon img {
  max-height: 80%;
  max-width: 50%;
  margin-left: 5px;
  margin-top: -5px;
  @media (max-width: 768px) {
    max-height: 100%;
    max-width: 105%;
    margin-left: -3%;
  }
}

#metacritic-icon img {
  max-height: 75%;
  max-width: 50%;
  margin-left: 10px;
  @media (max-width: 768px) {
    margin-left: -6%;
    max-height: 120%;
    max-width: 120%;
  }
}

.film-data-select-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.film-data-select-genre label {
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 1.5em;
  }
}

.film-data-select-container select,
.film-data-select-container button {
  width: 45%;
  margin: 0;
  transition: transform 0.3s ease;
  @media (max-width: 768px) {
    margin-top: -5%;
    font-size: 0.8em;
    height: 3em;
  }
}

.film-data-select-container select:hover,
.film-data-select-container button:hover {
  transform: scale(1.05);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(
    135deg,
    var(--bronze-spice),
    var(--blue-slate) 85%
  );
  color: var(--coffee-bean);
  margin: 10% auto;
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  button[type='submit'] {
    width: 100%;
    padding: 12px;
    background-color: var(--light-blue);
    color: var(--coffee-bean);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type='submit']:hover {
    background-color: var(--midnight-violet);
    color: var(--light-blue);
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: var(--light-blue);
}

.close:hover {
  color: var(--coffee-bean);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--bronze-spice);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--light-blue);
}

main#saved-film-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

main .saved-film-card {
  text-align: center;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}

.saved-film-card h4 {
  font-family: 'Elephant', 'serif';
  margin-bottom: 5%;
  font-size: 1.5em;
}

.saved-film-card span.cross {
  position: absolute;
  width: 8%;
  height: 5.5%;
  top: 2%;
  right: 5%;
  background-color: rgba(184, 219, 217, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.saved-film-card span.cross:hover {
  background-color: rgba(184, 219, 217, 0.5);
}

.saved-film-card img.poster {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 10px;
}

.alert-popup {
  display: none;
  position: fixed;
  background-color: rgba(62, 10, 10, 0.6);
  width: 25%;
  height: 11%;
  bottom: 4%;
  right: 1%;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  @media (max-width: 768px) {
    width: 60%;
    background-color: rgba(62, 10, 10, 1);
    top: 27vh;
    right: 20vw;
    bottom: 0;
  }
}

.alert-popup-flex-container {
  display: flex;
  justify-content: space-around;
}

.alert-popup-icon-container img {
  height: 90%;
  width: 12%;
  background-color: var(--light-blue);
  border-radius: 15px 0 15px 0;
}

.alert-popup-cross-container {
  text-align: right;
}

.alert-popup-cross-container img {
  height: 100%;
  width: 30%;
  border-radius: 0 15px 0 15px;
  background-color: rgb(62, 10, 10);
  cursor: pointer;
  @media (max-width: 768px) {
    background-color: rgb(125, 17, 17);
  }
}

.alert-popup-cross-container img:hover {
  background-color: rgb(143, 15, 15);
}

.alert-popup p {
  text-align: center;
  font-size: 1.1em;
  margin-top: 5px;
  font-weight: bold;
}

p.invalid-input-text {
  font-size: 70%;
  color: red;
}
