* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Palette:
  • black,*/
  --coffee-bean: #0f0817;
  --cb08: #0f0817cc;
  --midnight-violet: #2b193d;
  --mv06: #2b193d9a;
  --blue-slate: #586f7c;
  --light-blue: #b8dbd9;
  --bronze-spice: #c45c16;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--bronze-spice);
}
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
header.menu {
  position: relative;
  top: 0;
  height: 4rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: linear-gradient(to top, transparent 0, black 75%);
  @media (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    position: relative;
  }
  h1 {
    padding: 1rem;
    font-family: 'Elephant', serif;
    @media (max-width: 1024px) {
      font-size: 1.6rem;
      padding: 0;
    }
  }
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    @media (max-width: 1024px) {
      width: 60%;
    }
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: var(--light-blue);
      &:hover {
        color: var(--blue-slate);
      }
      &#login {
        font-weight: bold;
        &:hover {
          color: var(--bronze-spice);
        }
      }
    }
  }
}

main {
  padding: 2rem;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card {
    background: linear-gradient(135deg, var(--cb08), var(--mv06));
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 65%;
    color: var(--bronze-spice);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:
      transform 0.3s,
      box-shadow 0.3s;
    &:hover {
      @media (min-width: 1025px) {
        transform: translateY(-5px);
      }
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
    .cardtext {
      margin-top: 0.7rem;
      color: var(--light-blue);
    }
  }
}

main#contactmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1024px) {
    grid-template-columns: auto;
  }
  padding: 2rem;
  .card {
    width: 90%;
    margin: 2rem auto auto;
    @media (min-width: 1025px) {
      &:nth-child(even) {
        background: linear-gradient(225deg, var(--cb08), var(--mv06));
      }
    }
    form {
      color: var(--light-blue);
      input,
      textarea {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--coffee-bean);
        &[type='text'],
        &[type='url'] {
          height: 2rem;
          background-color: var(--light-blue);
        }
        &#poster {
          color: var(--light-blue);
          &::file-selector-button {
            background-color: var(--bronze-spice);
            color: var(--coffee-bean);
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            margin: 0.5rem 0.5rem 0.5rem 0;
            &:hover {
              background-color: var(--blue-slate);
              color: var(--light-blue);
            }
          }
        }
        &[type='submit'] {
          background-color: var(--bronze-spice);
          color: var(--coffee-bean);
          border: none;
          padding: 0.5rem 1.5rem;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          margin-top: 1rem;
          &:hover {
            background-color: var(--blue-slate);
            color: var(--midnight-violet);
          }
        }
      }
      textarea {
        height: 8rem;
        resize: vertical;
        background-color: var(--light-blue);
      }
      label {
        margin-bottom: 2rem;
      }
    }
  }
}

a#secret {
  text-decoration: none;
  color: var(--bronze-spice);
  &:hover {
    color: fuchsia;
  }
}

#randomiser-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#randomiser-card {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-bottom: 3vh;
  @media (min-width: 1024px) {
    width: 55%;
  }
}

#randomiser-card label {
  font-family: 'Elephant', serif;
  text-align: center;
  font-size: 3em;
  user-select: none;
}

#randomiser-card select,
#randomiser-card button {
  text-align: center;
  color: var(--bronze-spice);
  height: 10vh;
  font-size: 1.5em;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(40, 166, 197);
  cursor: pointer;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.5s ease;
  @media (min-width: 1024px) {
    width: 80%;
  }
}

#randomiser-card select {
  padding: 0 1.3em;
}

#randomiser-card select:hover,
#randomiser-card button:hover {
  transform: scale(1.1);
}
