* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Palette:
  • black,*/
  --midnight-violet: #2b193d;
  --blue-slate: #586f7c;
  --light-blue: #b8dbd9;
  --bronze-spice: #c45c16;
}
body {
  font-family: 'Geneva', Tahoma, Verdana, sans-serif;
  color: var(--bronze-spice);
}
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
header.menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  h1 {
    padding: 1rem;
  }
  nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    @media (max-width: 1024px) {
      width: 50%;
    }
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: var(--light-blue);
    }
  }
}
.randomiser-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    var(--midnight-violet),
    var(--blue-slate),
    var(--light-blue),
    var(--bronze-spice)
  );
}

.randomiser-input {
  height: 40%;
  width: 40%;
  border: 2px solid #2b193d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 2%;
  box-shadow: 0 0 10px black;
  @media (max-width: 768px) {
    height: 50%;
  }
}

.get-film-button {
  width: 80%;
  padding: 20px 0;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.randomiser-input label {
  font-size: 3em;
  user-select: none;
  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}

.randomiser-input select {
  width: 80%;
  padding: 20px 0;
  text-align: center;
  font-size: large;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.randomiser-input select:hover {
  background-color: #867c91;
}
